.root {
  width: 100%;
  max-width: 1200px;
  max-height: 100dvh;
  height: 100dvh;
  margin: 0 auto;
  padding: 2rem;

  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  & > * {
    scroll-snap-align: start;
  }

  
  & > .fullWidth {
    margin: 0 -2rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.hero {
  text-align: center;
  height: 100dvh;
}

.mapContainer {
  border-radius: 8px;
  overflow: hidden;
  height: 100dvh;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}
