.root {
  width: 100%;
  max-height: 100dvh;
  height: 100dvh;

  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  & > * {
    scroll-snap-align: start;
  }

  
  & > .fullWidth {
    margin: 0 -2rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.hero {
  text-align: center;
  height: 100dvh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.destinationsSection {
  position: relative;
  overflow: hidden;
  height: 100dvh;
}

.map {
  width: 100%;
  height: calc(100% - 200px);
  border: none;
  @media screen and (min-width: 768px) {
    max-width: calc(100% - 400px);
    height: 100%;
  }
}

.list, .detail {
  border: none;
  width: 100%;
  height: 100%;
}
