
.destinationInfo {
    padding: 1.5rem;
    background-color: var(--color-dark-800);
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    animation: popUp var(--easing) var(--easing-duration);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    @keyframes popUp {
        from {
            opacity: .2;
            transform: translateY(100%);
        }
        
    }
  
    h2 {
      margin-top: 0;
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }
  
    p {
      margin-bottom: 1rem;
      line-height: 1.6;
    }
  
    strong {
      font-weight: 600;
      
    }
  }
  